appclient/src/main/resources/schema/jboss-client_11_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright The JBoss Metadata Authors
  SPDX-License-Identifier: Apache-2.0
-->
<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:jboss="urn:jboss:jakartaee:1.0"
            xmlns:jakartaee="https://jakarta.ee/xml/ns/jakartaee"
            targetNamespace="urn:jboss:jakartaee:1.0"
            version="11"
            elementFormDefault="qualified"
>

    <xsd:annotation>
        <xsd:documentation>
            <![CDATA[

    This is the XML Schema for the JBoss 11 application client deployment descriptor.
    The deployment descriptor must be named "META-INF/jboss-client.xml" in
    the application client's jar file.  All the application client deployment descriptors must indicate
    the JBoss schema by using the Jakarta EE namespace:

        urn:jboss:jakartaee:1.0

    and by indicating the version of the schema by
    using the version attribute as shown below:

        <jboss-client xmlns="urn:jboss:jakartaee:1.0"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="urn:jboss:jakartaee:1.0
                            https://www.jboss.org/schema/jbossas/jboss-client_11_0.xsd"
             version="11">
             ...
        </jboss-client>

    The instance documents may indicate the published version of
    the schema using the xsi:schemaLocation attribute for the
    Jakarta EE namespace with the following location:

        https://www.jboss.org/schema/jbossas/jboss-client_11_0.xsd

    ]]>
        </xsd:documentation>
    </xsd:annotation>

    <xsd:import namespace="https://jakarta.ee/xml/ns/jakartaee"
                schemaLocation="https://jakarta.ee/xml/ns/jakartaee/application-client_11.xsd"/>
    <xsd:include schemaLocation="https://www.jboss.org/schema/jbossas/jboss-common_11_0.xsd"/>

    <xsd:element name="jboss-client" type="jboss:jboss-clientType"/>

    <xsd:complexType name="jboss-clientType">
        <xsd:sequence>
            <xsd:element name="module-name" type="xsd:string" minOccurs="0"/>
            <xsd:group ref="jboss:descriptionGroup"/>
            <xsd:element name="callback-handler" type="xsd:string" minOccurs="0"/>
            <xsd:element name="metadata-complete" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="jndi-name" type="xsd:string" minOccurs="0"/>
            <xsd:group ref="jboss:jndiEnvironmentRefsGroup"/>
            <xsd:element name="message-destinations" type="jboss:message-destinationType" minOccurs="0"
                         maxOccurs="unbounded"/>
            <xsd:element name="depends" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string"/>
        <xsd:attribute name="version" type="xsd:string"/>
    </xsd:complexType>
</xsd:schema>
